*{
    padding: 0;
    margin: 0;
}
body {
    font-family:"Montserrat", sans-serif; ;
    background-color: hsl(30, 38%, 92%) ;
    min-height: 100vh;
    display: grid;
    place-content: center ;
}
#product {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 600px;
    margin: 1rem;
}
img ,
picture {
    display: block;
    max-width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#product .product-content{
    background-color: white;
    padding: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
#product .product-content .one-pargraph {
    font-size: 10 px;
    letter-spacing: 4px;
    color:  hsl(228, 12%, 48%);
}
#product .product-content h1{
    font-family: "Fraunces", serif;
    font-size: 32px;
    margin: 20px 0;
    line-height: 1;
    color:  hsl(212, 21%, 14%);

}
#product .product-content p{
    font-size: 14px;
    color:  hsl(228, 12%, 48%);
    line-height: 1.6;
}
#product .product-content .mony{
    display: flex;
    align-items: center;
    margin: 20px 0;
    

}
#product .product-content .mony .three-paregraph{
    font-family:"Fraunces", serif;
    
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    margin-right: 15px;

}
#product .product-content .one-button{
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    background-color:hsl(158, 36%, 37%) ;
    color: white;
    text-align: center;
    width: 100%;
    font-weight: 700;
}
#product .product-content .one-button img{
    margin-right: 10px;
}
.attribution{
    text-align: center;
}